html, body{
    margin: 0;
    height: 100%;
    background-color: #77878B;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.sidebar{
    /* pxالعرض هنا يجب ان يكون 120 */
    width: 120px;
    height: 100%;
    background-color:red;
    border-radius: 10px ;
    margin: 10px;
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    width: 100%;
    background-color: #1B4079;
    height: 80px;
    padding: 10px;
    margin: 8px;
    border-radius: 10px ;
}

.main{
background-color: #4D7C8A;
width: 100%;
height: 80%;
padding: 10px;
margin: 10px;
border-radius: 10px ;
}

a{
    color: darkgray;
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
    text-decoration: none;
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */

a:hover {
    color: white;
}

h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

.para {text-align: center;}

.flexo {
    display: flex;
    height: 100%;
}

ul {list-style-type: none;
}
li {
padding-left: 2px;
padding-right: 8px;}

.main:hover {background-color: salmon;}

.header:hover {background-color: springgreen;}

.sidebar:hover {background-color: aqua;}

.a {
    background-color: white;
    color: black;
}

.a:hover {background-color: chartreuse;
color: blue;
border-radius:10px ;
padding: 10;}
